/* .App {
  text-align: center;
} */
.home{
background-image: url('./assets/images/finger-pointing-at-javascript-code.jpg');
}

#row1{
margin-top: 20px;
margin-bottom: 40px;
}

#homeCard{
  margin-top: 5px;
}

.navbar{
  
  background-color: darkcyan;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#body{
background-color: rgba(210, 180, 140, 0.572);
  }

  #introHome{
    color: black;
    font-weight: 600;
    background-color: rgba(255, 245, 238, 0.905);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .card{
    max-width: 100rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    margin-left: 30%;      
    margin-right: 25%;
    background-color:rgba(255, 245, 238, 0.906);
  }

  #portCards{
    background-color: cadetblue;
  }

#jumpTo{
  margin-left: 30%;
  font-size: large;
  font-weight: bold;
  color: black;
}

  #personalIcons{
      margin: 3%;
      text-align: center;
      margin-bottom: auto;
      background-color:rgba(210, 180, 140, 0);
    } 


#contactform{
  margin-top: 7%;

}

#submit {
  color: white;
}

#row2{
margin-top: 8%;
}

.card-body{
background-color: rgba(211, 211, 211, 0.878);
}

.lead1{
  font-size: 2rem;
}

#h1 {
  font-size: 4rem;
}

#jumP {
font-size: 3rem;
}

#aboutmetext {
  font-size: 1.8rem;
  font-weight: 600;
}